.header {
    padding: 20px;
    background-color: #ff0057;


    .site-container {
        display: flex;
        justify-content: space-between;

        .logo {
            font-size: 1.25rem;
            font-weight: 500;
            color: #fff;
        }

        .menu {
            display: flex;
            gap: 20px;

            a {
                color: #fff;
                text-decoration: none;
                font-weight: 500;
                padding: 5px 10px;
                border-radius: 4px;

                span {
                    padding: 2px 4px;

                    background-color: #fff;
                    color: #ff0057;
                    font-size: 12px;
                    border-radius: 2px;
                }

                &:hover {
                    background-color: #fff;
                    color: #ff0057;
                    transition: ease-in 0.25s all;

                    span {
                        background-color: #ff0057;
                        color: #fff;
                    }
                }
            }

            .active {
                background-color: #fff;
                color: #ff0057;
                transition: ease-in 0.25s all;

                span {
                    background-color: #ff0057;
                    color: #fff;
                }
            }
        }
    }
}